lambda/step_functions/step_functions.json
{
  "Comment": "크롤링 람다를 커뮤니티 -> 자동차 -> 시간 순서로 중첩된 루프로 실행하는 Step Function",
  "StartAt": "CalculateTimeRanges",
  "States": {
    "CalculateTimeRanges": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-2:473551908409:function:get-crawling-time-ranges",
      "Parameters": {
        "hours.$": "$.hours",
        "num_splits.$": "$.num_splits"
      },
      "ResultPath": "$.time_ranges",
      "Next": "CommunityLoop"
    },
    "CommunityLoop": {
      "Type": "Map",
      "MaxConcurrency": 0,
      "ItemsPath": "$.communities",
      "Parameters": {
        "community.$": "$$.Map.Item.Value",
        "car_names.$": "$.car_names",
        "time_ranges.$": "$.time_ranges.time_ranges"
      },
      "Iterator": {
        "StartAt": "CarNameLoop",
        "States": {
          "CarNameLoop": {
            "Type": "Map",
            "MaxConcurrency": 0,
            "ItemsPath": "$.car_names",
            "Parameters": {
              "community.$": "$.community",
              "car_name.$": "$$.Map.Item.Value",
              "time_ranges.$": "$.time_ranges"
            },
            "Iterator": {
              "StartAt": "TimeRangeLoop",
              "States": {
                "TimeRangeLoop": {
                  "Type": "Map",
                  "MaxConcurrency": 0,
                  "ItemsPath": "$.time_ranges",
                  "Parameters": {
                    "start_datetime.$": "$$.Map.Item.Value.start_datetime",
                    "end_datetime.$": "$$.Map.Item.Value.end_datetime",
                    "community.$": "$.community",
                    "car_name.$": "$.car_name"
                  },
                  "Iterator": {
                    "StartAt": "MonitoringCommunity",
                    "States": {
                      "MonitoringCommunity": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:ap-northeast-2:473551908409:function:monitor-community",
                        "Parameters": {
                          "start_datetime.$": "$.start_datetime",
                          "end_datetime.$": "$.end_datetime",
                          "community.$": "$.community",
                          "car_name.$": "$.car_name"
                        },
                        "End": true,
                        "Catch": [
                          {
                            "ErrorEquals": ["States.ALL"],
                            "ResultPath": "$.error",
                            "Next": "LogError"
                          }
                        ]
                      },
                      "LogError": {
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:ap-northeast-2:473551908409:function:log-error",
                        "Parameters": {
                          "error.$": "$.error",
                          "community.$": "$.community",
                          "car_name.$": "$.car_name"
                        },
                        "End": true
                      }
                    }
                  },
                  "ResultPath": null,
                  "Next": "MergeMonitoringResults"
                },
                "MergeMonitoringResults": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:ap-northeast-2:473551908409:function:merge-monitoring-results",
                  "Parameters": {
                    "time_ranges.$": "$.time_ranges",
                    "community.$": "$.community",
                    "car_name.$": "$.car_name"
                  },
                  "End": true
                }
              }
            },
            "End": true
          }
        }
      },
      "ResultPath": null,
      "Next": "UpdateRds"
    },
    "UpdateRds": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-2:473551908409:function:update-rds",
      "Parameters": {
        "communities.$": "$.communities",
        "car_names.$": "$.car_names",
        "time_ranges.$": "$.time_ranges.time_ranges"
      },
      "End": true
    }
  }
}
